<%- include("header"); -%>

<div class="jumbotron">
  <h1 class="display-4">OhNo!</h1>
  <p class="lead">Something went wrong</p>
  <hr class="my-4">
  <p>Make sure to enter the data properly</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Try Again</a>
</div>


<%- include("footer"); -%>
