<%- include("header"); -%>

<div class="jumbotron">
  <h1 class="display-4">Hurray!</h1>
  <p class="lead">Your Form Submitted Successfully</p>
  <hr class="my-4">
  <p>Thank you for participating in survey</p>
</div>

<%- include("footer"); -%>
